/* Card/Flow */

box-sizing: border-box;

position: relative;
width: 663px;
height: 566px;

/* White */
background: #FFFFFF;
border: 1px dashed #9747FF;
border-radius: 5px;


/* State=Decision, Selected=Default */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 8px;

position: absolute;
width: 302px;
height: 84px;
left: 20px;
top: 20px;

background: #FFFAF6;
border: 1px solid #FF8D28;
border-radius: 8px;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 270px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 270px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Seated SBP 140-169 mmHg? */

width: 222px;
height: 24px;

/* Body 2/SemiBold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutral/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* circle-minus */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Neutral / 600 */
border: 2px solid #6C757D;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 50%;
bottom: 50%;

/* Neutral / 600 */
border: 2px solid #6C757D;


/* Decision */

width: 270px;
height: 24px;

/* Body 3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

/* Neutral / 600 */
color: #6C757D;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* State=Decision, Selected=Decision */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 8px;

position: absolute;
width: 302px;
height: 84px;
left: 341px;
top: 20px;

background: #FF8D28;
border: 1px solid #FF8D28;
border-radius: 8px;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 270px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 270px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Seated SBP 140-169 mmHg? */

width: 222px;
height: 24px;

/* Body 2/SemiBold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* circle-minus */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* White */
border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 50%;
bottom: 50%;

/* White */
border: 2px solid #FFFFFF;


/* Decision */

width: 270px;
height: 24px;

/* Body 3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* State=Root, Selected=Root */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 8px;

position: absolute;
width: 302px;
height: 84px;
left: 341px;
top: 127px;

background: #00C0E8;
border: 1px solid #00C3D0;
border-radius: 8px;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 270px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 270px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Seated SBP 140-169 mmHg? */

width: 222px;
height: 24px;

/* Body 2/SemiBold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* circle-minus */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* White */
border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 50%;
bottom: 50%;

/* White */
border: 2px solid #FFFFFF;


/* Root */

width: 270px;
height: 24px;

/* Body 3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* State=Root, Selected=Default */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: absolute;
width: 302px;
height: 84px;
left: 20px;
top: 127px;

background: #F3FEFF;
border: 1px solid #00C0E8;
border-radius: 8px;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 270px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 270px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Seated SBP 140-169 mmHg? */

width: 222px;
height: 24px;

/* Body 2/SemiBold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutral/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* circle-minus */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Neutral / 600 */
border: 2px solid #6C757D;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 50%;
bottom: 50%;

/* Neutral / 600 */
border: 2px solid #6C757D;


/* Root */

width: 270px;
height: 24px;

/* Body 3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

/* Neutral / 600 */
color: #6C757D;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* State=Recommendation, Selected=Default */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: absolute;
width: 302px;
height: 84px;
left: 20px;
top: 234px;

background: #F3FFFE;
border: 1px solid #00C8B3;
border-radius: 8px;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 270px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 270px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Seated SBP 140-169 mmHg? */

width: 222px;
height: 24px;

/* Body 2/SemiBold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutral/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* circle-minus */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Neutral / 600 */
border: 2px solid #6C757D;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 50%;
bottom: 50%;

/* Neutral / 600 */
border: 2px solid #6C757D;


/* Recommendation */

width: 270px;
height: 24px;

/* Body 3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

/* Neutral / 600 */
color: #6C757D;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* State=Recommendation, Selected=Recommendation */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: absolute;
width: 302px;
height: 84px;
left: 341px;
top: 234px;

background: #00C8B3;
border: 1px solid #00C8B3;
border-radius: 8px;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 270px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 270px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Seated SBP 140-169 mmHg? */

width: 222px;
height: 24px;

/* Body 2/SemiBold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* circle-minus */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* White */
border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 50%;
bottom: 50%;

/* White */
border: 2px solid #FFFFFF;


/* Recommendation */

width: 270px;
height: 24px;

/* Body 3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* State=Information, Selected=Default */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: absolute;
width: 302px;
height: 84px;
left: 20px;
top: 341px;

/* Blue/100 */
background: #EBF4FF;
border: 1px solid #0088FF;
border-radius: 8px;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 270px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 270px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Seated SBP 140-169 mmHg? */

width: 222px;
height: 24px;

/* Body 2/SemiBold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutral/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* circle-minus */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Neutral / 600 */
border: 2px solid #6C757D;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 50%;
bottom: 50%;

/* Neutral / 600 */
border: 2px solid #6C757D;


/* Information */

width: 270px;
height: 24px;

/* Body 3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

/* Neutral / 600 */
color: #6C757D;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* State=Information, Selected=Information */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: absolute;
width: 302px;
height: 84px;
left: 341px;
top: 341px;

background: #0088FF;
/* Blue/100 */
border: 1px solid #EBF4FF;
border-radius: 8px;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 270px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 270px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Seated SBP 140-169 mmHg? */

width: 222px;
height: 24px;

/* Body 2/SemiBold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* circle-minus */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* White */
border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 50%;
bottom: 50%;

/* White */
border: 2px solid #FFFFFF;


/* Information */

width: 270px;
height: 24px;

/* Body 3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* State=Outcome, Selected=Default */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: absolute;
width: 302px;
height: 84px;
left: 20px;
top: 462px;

background: #FEFAFF;
border: 1px solid #CB30E0;
border-radius: 8px;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 270px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 270px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Seated SBP 140-169 mmHg? */

width: 222px;
height: 24px;

/* Body 2/SemiBold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutral/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* circle-minus */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Neutral / 600 */
border: 2px solid #6C757D;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 50%;
bottom: 50%;

/* Neutral / 600 */
border: 2px solid #6C757D;


/* Outcome */

width: 270px;
height: 24px;

/* Body 3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

/* Neutral / 600 */
color: #6C757D;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* State=Outcome, Selected=Outcome */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: absolute;
width: 302px;
height: 84px;
left: 341px;
top: 462px;

background: #CB30E0;
border: 1px solid #FEFAFF;
border-radius: 8px;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 270px;
height: 52px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 270px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Seated SBP 140-169 mmHg? */

width: 222px;
height: 24px;

/* Body 2/SemiBold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* circle-minus */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* White */
border: 2px solid #FFFFFF;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 50%;
bottom: 50%;

/* White */
border: 2px solid #FFFFFF;


/* Outcome */

width: 270px;
height: 24px;

/* Body 3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;