/* Card */

box-sizing: border-box;

position: relative;
width: 319px;
height: 188px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* Property 1=Default */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: flex-start;
align-content: flex-start;
padding: 8px 16px;
gap: 0px 12px;

position: absolute;
width: 279px;
height: 64px;
left: 20px;
top: 20px;

/* White */
background: #FFFFFF;
/* Neutral / 400 */
border: 1px solid #CED4DA;
border-radius: 8px;


/* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 8px;

width: 247px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 151px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 247px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 117px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* HTN Main Flow */

width: 117px;
height: 24px;

/* Body 2/SemiBold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutral / 900 */
color: #212529;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 6 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 247px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 91px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Hypertension */

width: 91px;
height: 24px;

/* Body 3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

/* Neutral / 600 */
color: #6C757D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Circle */

width: 40px;
height: 40px;

border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* pencil */

position: absolute;
width: 24px;
height: 24px;
left: calc(50% - 24px/2);
top: calc(50% - 24px/2);



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.34%;

/* Neutral / 600 */
border: 2px solid #6C757D;


/* Circle */

width: 40px;
height: 40px;

border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* trash-2 */

position: absolute;
width: 24px;
height: 24px;
left: calc(50% - 24px/2);
top: calc(50% - 24px/2);



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

/* Neutral / 600 */
border: 2px solid #6C757D;


/* Property 1=Variant2 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: flex-start;
align-content: flex-start;
padding: 8px 16px;
gap: 0px 12px;

position: absolute;
width: 279px;
height: 64px;
left: 20px;
top: 104px;

/* Primary */
background: #F1F2FF;
/* Main */
border: 1px solid #5260FF;
border-radius: 8px;


/* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 8px;

width: 247px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 502 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 151px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 247px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 117px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* HTN Main Flow */

width: 117px;
height: 24px;

/* Body 2/SemiBold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutral / 900 */
color: #212529;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 6 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 247px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 2 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 91px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Hypertension */

width: 91px;
height: 24px;

/* Body 3/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

/* Neutral / 600 */
color: #6C757D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Circle */

width: 40px;
height: 40px;

border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* pencil */

position: absolute;
width: 24px;
height: 24px;
left: calc(50% - 24px/2);
top: calc(50% - 24px/2);



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.34%;

/* Neutral / 600 */
border: 2px solid #6C757D;


/* Circle */

width: 40px;
height: 40px;

border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* trash-2 */

position: absolute;
width: 24px;
height: 24px;
left: calc(50% - 24px/2);
top: calc(50% - 24px/2);



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;

/* Neutral / 600 */
border: 2px solid #6C757D;