/* Infor */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 20px;
gap: 16px;

position: relative;
width: 567px;
height: 40px;

/* White */
background: #FFFFFF;
/* Neutral / 200 */
border: 1px solid #E9ECEF;
/* Shadow 1 */
box-shadow: 0px 4px 6px rgba(33, 37, 41, 0.2),
0px 0px 1px rgba(33, 37, 41, 0.32);
border-radius: 8px;


/* Frame 501 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 51px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 1 */

width: 8px;
height: 8px;

background: #00C3D0;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Root */

width: 36px;
height: 24px;

/* Body 2/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutral/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 505 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 80px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Ellipse 1 */

width: 8px;
height: 8px;

background: #FF8D28;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Decision */

width: 65px;
height: 24px;

/* Body 2/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutral/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 506 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 147px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Ellipse 1 */

width: 8px;
height: 8px;

background: #00C8B3;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Recommendation */

width: 132px;
height: 24px;

/* Body 2/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutral/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 507 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 101px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Ellipse 1 */

width: 8px;
height: 8px;

/* Blue/400 */
background: #3B98FF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Information */

width: 86px;
height: 24px;

/* Body 2/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutral/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 508 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 84px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Ellipse 1 */

width: 8px;
height: 8px;

background: #CB30E0;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Outcome */

width: 69px;
height: 24px;

/* Body 2/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Neutral/Black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;