/* Tag Toggle */

box-sizing: border-box;

position: relative;
width: 187px;
height: 280px;

border: 1px dashed #9747FF;
border-radius: 5px;


/* State=Yes */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

position: absolute;
width: 48px;
height: 32px;
left: 20px;
top: 20px;

/* White */
background: #FFFFFF;
border: 1px solid #34C759;
border-radius: 20px;


/* Check */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 28px;
height: 24px;

/* Body 2/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

/* Colors/Green */
color: #34C759;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* State=Yes solid */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

position: absolute;
width: 48px;
height: 32px;
left: 91px;
top: 20px;

background: #34C759;
/* White */
border: 1px solid #FFFFFF;
border-radius: 20px;


/* Check */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 28px;
height: 24px;

/* Body 2/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* State=No */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

position: absolute;
width: 48px;
height: 32px;
left: 20px;
top: 72px;

/* White */
background: #FFFFFF;
border: 1px solid #FF383C;
border-radius: 20px;


/* Check */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 22px;
height: 24px;

/* Body 2/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

/* Colors/Red */
color: #FF383C;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* State=No solid */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

position: absolute;
width: 48px;
height: 32px;
left: 83px;
top: 72px;

background: #FF383C;
/* White */
border: 1px solid #FFFFFF;
border-radius: 20px;


/* Check */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 22px;
height: 24px;

/* Body 2/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* State=Exactly */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

position: absolute;
width: 72px;
height: 32px;
left: 20px;
top: 124px;

/* White */
background: #FFFFFF;
border: 1px solid #6155F5;
border-radius: 20px;


/* Check */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 56px;
height: 24px;

/* Body 2/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

/* Colors/Indigo */
color: #6155F5;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* State=Exactly solid */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

position: absolute;
width: 72px;
height: 32px;
left: 105px;
top: 124px;

background: #6155F5;
/* White */
border: 1px solid #FFFFFF;
border-radius: 20px;


/* Check */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 56px;
height: 24px;

/* Body 2/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* State=0 or 1 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

position: absolute;
width: 72px;
height: 32px;
left: 20px;
top: 176px;

/* White */
background: #FFFFFF;
border: 1px solid #408282;
border-radius: 20px;


/* Check */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 43px;
height: 24px;

/* Body 2/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: #408282;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* State=1 solid */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

position: absolute;
width: 72px;
height: 32px;
left: 98px;
top: 176px;

background: #408282;
/* White */
border: 1px solid #FFFFFF;
border-radius: 20px;


/* Check */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 43px;
height: 24px;

/* Body 2/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* State=3 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

position: absolute;
width: 72px;
height: 32px;
left: 20px;
top: 228px;

/* White */
background: #FFFFFF;
border: 1px solid #901931;
border-radius: 20px;


/* Check */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 32px;
height: 24px;

/* Body 2/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: #901931;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* State=3 solid */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

position: absolute;
width: 72px;
height: 32px;
left: 95px;
top: 228px;

background: #901931;
/* White */
border: 1px solid #FFFFFF;
border-radius: 20px;


/* Check */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 32px;
height: 24px;

/* Body 2/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
